.DS_Store
.env
.env.*
!.env.example

node_modules/
back/node_modules/
front/node_modules/

dist/
back/dist/
front/dist/
coverage/
back/coverage/
front/coverage/

.logs/
playwright-report/
test-results/
